@{
    ViewBag.Title = "About Us";
}

<div id="about" class="container row">
	<nav class="breadcrumbs">
		<a href="/">Home</a>
		<a class="current" href="#">About Us</a>
	</nav>
	<div class="about-mission  row">
		<div class="large-8 column">
			<h1>Our Mission</h1>
			<p>The <strong>Macaulay Child Development Centre</strong> fosters the optimal development of children, in partnership with their family and community.</p>
		</div>
		<div class="large-16 column">
			<img class="right" src="/Images/about/kids-1.jpg" alt="about kids 1"/>
		</div>
	</div>
    <div class ="about-vision row">
	    <div class="large-16 column">
			    <img src="/Images/about/kids-2.png" alt="about kids 1"/>
	    </div>
	    <div class="large-7 pull-1 column">
		    <h1>Our Vision</h1>
		    <p>All children achieve their greatest potential within <strong>caring</strong>, responsive families and communities.</p>
	    </div>
    </div>
	<div class="about-commitments  large-24 column">
		<h1 class="center">Our Commitments:</h1>
		<ul class="large-block-grid-3 small-block-grid-2">
			<li><i class="icon-ok"></i><span>We believe <strong>all</strong> children are important!</span></li>
			<li><i class="icon-ok"></i><span>We treat every individual with respect.</span></li>
			<li><i class="icon-ok"></i><span>We value diversity and strive to eliminate barriers.</span></li>
			<li><i class="icon-ok"></i><span>We build on individual, family and community strengths.</span></li>
			<li><i class="icon-ok"></i><span>We are committed to integrity and accountability.</span></li>
			<li><i class="icon-ok"></i><span>We engage in lifelong learning.</span></li>
			<li><i class="icon-ok"></i><span>We work with children and families in the context of their environment.</span></li>
			<li><i class="icon-ok"></i><span>We listen to our communities and use research to keep our services effective.</span></li>
			<li><i class="icon-ok"></i><span>We share our knowledge and experience with others.</span></li>
		</ul>
	</div>
</div>